*{
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
h1 {
    color: white;
}
h2,h3 {
    color: #000000;
}

p {
    color: #000000;
}

#main-header {
  background-image: url(https://tse2.mm.bing.net/th/id/OIP.dVabD7c3HO6zHmaOUHHEOQHaEK?rs=1&pid=ImgDetMain&o=7&rm=3);
  background-size: cover;
  padding: 1px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.highlight {
  background: #dededf;
  padding: 50px;
  border-left: 4px solid #023570;
  border-radius: 10px;
  color: #fdfdfd;
  width: 1200px;
  margin: 50px auto;
}

.custom-list li {
  color: #0d0d0e;
  font-weight: bold;
  background: #dededf;
  padding: 6px 10px;
  margin: 5px;
  border-left: 4px solid #023570;
  border-radius: 4px;
  list-style-type: square;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #f9fbfd;
  border-radius: 6px;
}

.table th {
  background: #023570;
  padding: 10px;
  color: #ffffff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 6px;
}

.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border: 2px solid #000;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  background: white;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-content {
  color: #555;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.btn {
  background: #023570;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer; 
}

.btn:hover {
  background: #95b3d1;
}

.form-card {
    background: transparent;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 50px auto;
}
.form-card h3 {
    margin-bottom: 5px;
    font-size: 14px;
}

.form-card input {
    width: 450px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

label,
input {
  display: block;
}