*{
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
h1 {
    color: white;
}
h2,h3 {
    color: #000000;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 10px;
}

p {
    color: #000000;
    font-size: 16px;
    padding-left: 15px;
}

#main-header {
  background-image: url(https://tse2.mm.bing.net/th/id/OIP.dVabD7c3HO6zHmaOUHHEOQHaEK?rs=1&pid=ImgDetMain&o=7&rm=3);
  background-size: cover;
  padding: 0px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-top: 0px;
}
.judul-header {
    font-size: 45px;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    padding: 1px;
}

.highlight {
  background: #dededf;
  padding: 20px;
  border-left: 4px solid #023570;
  border-radius: 10px;
  color: #fdfdfd;
  width: 800px;
  margin: 50px auto;
  max-width: 100%;
}

.custom-list li {
  color: #0d0d0e;
  font-weight: bold;
  background: #dededf;
  padding: 6px 10px;
  margin: 5px;
  border-left: 4px solid #023570;
  border-radius: 4px;
  list-style-type: square;
  width: 100%;
}

.table {
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #f9fbfd;
  border-radius: 6px;
  overflow-x: auto;
  display: table;
  
}

.table th {
  background: #023570;
  padding: 10px;
  color: #ffffff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 6px;
  white-space: nowrap;
}

.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.table img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border: 2px solid #000;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  background: white;
  position: relative;
  padding-bottom: 60px; 
  flex-direction: column;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-content {
  color: #555;
  flex-grow: 1;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.submit-btn {
  background: #023570;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer; 
  width: 100%;
}

.btn-card {
  background: #023570;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer; 
  position: absolute;
  bottom: 20px; 
  right: 20px;
}

.btn:hover {
  background: #95b3d1;
}

.form-card {
    background: transparent;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 10px auto;
    max-width: 100%;
}

.form-card label {
    margin-bottom: 3px;
    font-size: 14px;
    color: white;
}

.form-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.footer {
    text-align: center;
    padding: 15px;
    color: #111;
    margin-top: 40px;
    font-size: 13px;
}

label,
input {
  display: block;
}


@media (max-width: 768px) {

  #main-header {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
  }

  .highlight {
    padding: 20px;
    width: 100%;
    margin: 20px auto;
  }

  .card {
    width: 100%;
    max-width: 350px;
  }

  .form-card {
    width: 100%;
    padding: 15px;
  }

  .form-card input {
    width: 100%;
  }

 .table-wrapper {
    overflow-x: auto;
    width: 100%;
}


@media (max-width: 480px) {
  
  h1 {
    font-size: 24px;
  }

  .card {
    width: 100%;
  }

  .highlight {
    padding: 15px;
  }
}
